################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyFirstCoreApp/bin/Debug/netcoreapp3.1
/MyFirstCoreApp/.vs/MyFirstCoreApp
/Program1/.vs/Program1
/Program1/bin/Debug/netcoreapp3.1
